
#projects{
  padding: 0;
  padding-bottom: 2rem;
}
#projects .projects-title{
  padding: 2rem 0 0 2rem;
}
#projects .swiper-slide img {
  width: 80%;
  height: auto;
}

#projects .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--dark-purple);
}
.swiper-button-prev{
  margin-right: 2rem;
}
#projects .swiper-slide p {
  padding-bottom:1rem;
  width: 80%;
}
.text{
  padding-bottom: 2rem;
}
#projects .projects-button-more {
  background-color: var(--purple);
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: var(--white);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  font-weight: var(--black);
}
