#skills{
    background-color: var(--dark-purple);
    color: var(--white);
    padding: 2rem;
    font-family: var(--font);
    
}
#skills div{
    font-size: 1.2em;
    margin-left: 2rem;
}
#skills ul{
    list-style: none;
    margin: 1rem;
    font-weight: var(--light);
}

@media screen and (min-width:1024px) {
    #skills{
        padding: 5rem;
        
    }
    #skills .skills-title{
        font-size: 4rem;
    }
    #skills .skills{
        display: flex;
        align-items: start;
        justify-content: start;
        margin: 0;
    }
    #skills .skills .frontend{
        margin: 0;
    }
}
