*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}
body{
    font-size: 100%;
    list-style-type: none;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap");
@import url(header.css);
@import url(home.css);
@import url(about.css);
@import url(skills.css);
@import url(projects.css);
@import url(contact.css);


:root {
  --dark-purple: #231d44;
  --purple: #412778;
  --light-purple: #654992;
  --white: #ffff;
  --gray: #ababab;
  --light-gray:#EBEBEB;
  --font: "Lato", sans-serif;
  --thin:100;
  --light: 300;
  --regular: 400;
  --black: 900;
}

main{
    font-family: var(--font);
    font-weight: var(--regular);
    overflow: hidden;
}

.title{
    font-weight: var(--light);
    font-size: 3rem;
    margin-bottom: 2rem;
    
}
.subtitle{
    font-weight: var(--black);
}

section{
    padding: 2rem;
    color: var(--dark-purple);
}
